{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{title|default:"Bookmarks"}}{% endblock title %}
{% block content %}

  <main class="block block--centered">
    <div class="container">
      <header class=''>
        <h2>{{title|default:"Bookmarks"}}</h2>
      </header>
    </div>

    <table class='container' id='user-table' class='zebra'>

      <thead>
        <tr>

        </tr>
      </thead>
      <tbody>
        {% if user.is_authenticated %}
          {% for bm in bookmarks %}
            <tr>
              <td><a href="{% url bm.bookmark_link %}?{{bm.bookmark_query_string}}">{{bm.bookmark_name}}</a></td>
              <td><a href="{% url 'bookmark-delete' bm.pk%}">Delete</a></td>
              <td><a href="{% url 'bookmark-rename' bm.pk%}">Rename</a></td>
            </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </main>
  </body>
  </html>

{% endblock content %}
