db.sqlite3
db.sqlire3.bak
geckodriver.log
.env/
.env-bft/
.env/
__pycache__
*.pyc
.vscode
encumbrance.csv
finstructure.py
.coverage
htmlcov/
.DS_Store

#log files
log/
jupyter/
scripts/quick-test.py

uploads/

# MkDocs documentation
site*/
