django>=5.0,<5.1
pandas==2.2.1
django-filter==23.3
numpy==1.26.4

mkdocs
mkdocs-autorefs
mkdocs-material
mkdocs-material-extensions
mkdocstrings
mkdocstrings-python
flake8
flake8-bugbear
flake8-comprehensions
flake8-print
selenium==4.9
black
django_extensions
ipython
coverage
pytest
pytest-django
pre-commit
isort
flake8
flake8-bugbear
flake8-comprehensions
flake8-print
pyflakes
djhtml
pip-lock
rich
django-rich
django-browser-reload
python-dotenv
django-debug-toolbar
gunicorn
