django>=4.2,<5.0
pandas==2.0
django-filter==23.3
mkdocs==1.5.3
mkdocs-autorefs
mkdocs-material
mkdocs-material-extensions
mkdocstrings
mkdocstrings-python
flake8
flake8-bugbear
flake8-comprehensions
flake8-print
selenium==4.9
black==23.3
django_extensions==3.2
ipython==8.13.2
coverage==7.2.5
pytest==7.4.0
pytest-django==4.5.2
pre-commit==3.7.0
isort==5.13.2
flake8==7.0.0
flake8-bugbear==24.2.6
flake8-comprehensions==3.14.0
flake8-print==5.0.0
pyflakes==3.2.0
djhtml==3.0.6
pip-lock
rich
