{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'styles/all.css' %}" />
    {% block extracss %}{% endblock extracss %}
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js'%}" ></script>
    <script type="text/javascript" src="{% static '/js/d3.v7.min.js'%}" ></script>
    <title>
      {% block title %}{{title|default:'Business Forecasting Tool'}}{% endblock title %}
    </title>
  </head>
  {% include 'core/navbar.html' %}

  {% if messages %}
    {% for message in messages %}
      <div class="container alert  alert--{{message.tags}}">
        <p class="alert__message">{{message|safe}}</p>
      </div>
    {% endfor %}
  {% endif %}


  {% block content %}{% endblock content %}
</body>

</html>
<script>
    {% comment %} $(document).ready(function(){
        window.setTimeout(function() {
            $(".alert").fadeTo(500, 0).slideUp(500, function(){
                $(this).remove();
            });
        }, 5000);
    }); {% endcomment %}

  var alerts = document.querySelector('.alert')
  if (alerts){
    alerts.addEventListener('click',(event)=>{alerts.remove()})
  }



</script>
{% block extrajs %}{% endblock extrajs %}
