<aside class="form form--collapsible" id="filter-form">
  <form method="get">
    <div class='form__header'>Filter</div>
    <div class="block block--spaced">
      {% if has_filter%}
        <a class='btn' href="{% url reset %}">Reset Filter</a>
      {% endif %}
      <button class='btn' type='submit'>Search</button>
    </div>
    <section class="form__fields_flex form__scroll">
      {{filter.form.as_div}}
    </section>
  </form>
  <div id="expender" class="form__expender"><p>&nbsp;</p></div>
</aside>
