{% load static %}
<header class="site-header container">
  <div class="site-header__logo">
    <a href="/">
      <img src="{% static 'images/logo.png' %}" alt="Login System Logo" />
    </a>
  </div>
  <div class="site-header__title">
    <h1>DGLEPM</h1>
    <h3>Business Forecasting Tool</h3>
  </div>
  <div class="site-header__status">
    <div id="current-fy"></div>
    <div id="current-quarter"></div>
    <div id="current-period"></div>
  </div>
</header>

<nav class="container site-nav">

  <div class="block">
    {% if user.is_authenticated %}
      <a class="btn btn--link" href="/logout/" class="btn btn--sub">Logout &nbsp; <span class="username"> {{user.get_full_name|default:user}}</span></a>
      <a class="btn btn--link" href="/user-profile/" class="btn btn--sub">My Profile</a>
      <a class="btn btn--link" href="{% url 'bookmark-show' %}" class="btn btn--sub">My Bookmarks</a>
      {% if url_name %}
        <a class='btn' href="{% url 'bookmark-add' bm_page=url_name query_string=query_string|default:"no" %}">Bookmark {{title}}</a>
      {% endif %}
    {% else %}
      <a class="btn btn--link" href="/login/">Login</a>
      <a class="btn btn--link" href="/register/">Register</a>

    {% endif %}
    <a class="btn btn--link" target='blank' href="/htmldocs/docs/">Documentation</a>
  </div>
</nav>
