{% load static %}
<header class="site-header container">
    <div class="site-header__logo">
      <a href="/">
        <img src="/images/logo.png" alt="Login System Logo" />
      </a>
    </div>
    <div class="site-header--title">
      <h1>DGLEPM</h1>
      <h3>Business Forecasting Tool</h3>
    </div>
  </header>

  <nav class="container site-nav">

    {% comment %} <input type="checkbox" id="responsive-menu" />
    <label for="responsive-menu" class="toggle-menu">
      <span>Menu</span>
      <div class="toggle-menu__lines"></div>
    </label> {% endcomment %}

    <div class="block block--spaced">
      <a class="btn btn--link" href="{% url 'fundcenter-table' %}">Fund Centers</a>
      <a class="btn btn--link" href="{% url 'costcenter-table' %}">Cost Centers</a>
      <a class="btn btn--link" href="{% url 'lineitem-page' %}">Line Items</a>
      <a class="btn btn--link" href="{% url 'forecast-adjustment-table' %}">Forecast Adjustments</a>
      {% if user.is_authenticated %}
      <a class="btn btn--link" href="/users/account/">Account</a>
      <a class="btn btn--link" href="/users/logout/" class="btn btn--sub">Logout ({{ request.session.data }} {{user.get_full_name}})</a>
      <a class="btn btn--link" href="/users/profile/" class="btn btn--sub">My Profile</a>
      {% else %}
      <a class="btn btn--link" href="/users/login/">Login</a>
      <a class="btn btn--link" href="/users/register/">Register</a>

      {% endif %}
    </div>
  </nav>