{% extends 'core/base.html' %}
{% load static %}
{% block title %}Cost Centers Table{% endblock title %}
{% block content %}
<aside class="form form--collapsible" id="filter-form">
    <form method="get">
    <div class='form__header'>Filter</div>
        <section class="form__fields_flex">
            {{filter.form.as_div}}
            <div class="block block--spaced">
                <button class='btn' type='submit'>Search</button>
            </div>
        </section>
        </form>
    <div id="expender" class="form__expender"><p>&nbsp;</p></div>
</aside>
<main class="block block--centered">
    <div class="container">
        <header class=''>
            <h2>Cost Centers</h2>
        </header>
        {% if user.is_authenticated %}
        <div class=''>
            <div class="action-bar block">
                <a class='btn btn-add' href="{% url 'costcenter-add' %}"></a>
            </div>
        </div>
        {% endif %}
    </div>

    {% for elem in filter.qs  %}
    <section class='summary'>
        <div class='summary__header'>
            <span><strong>{{elem.costcenter}} </strong>- {{elem.shortname}} - {{elem.costcenter_parent}}</span>
            <span>{{elem.fund}}</span>
            <span>{{elem.source}}</span>
        </div>
        <div class="summary__body">
            {{elem.note|linebreaksbr}}
        </div>
        {% if user.is_authenticated %}
        <div class="summary__footer">
            <span class="tag {% if elem.isforecastable %}yes"> {%else%} no"> Not{%endif%} Forecastable</span>
            <span class="tag {% if elem.isupdatable %} yes"> {%else%} no"> Not {%endif%} Updatable</span>
            <a class='btn btn-view' href="{% url 'costcenter-lineitems' elem.costcenter %}">Lines</a>
            <a class='btn btn-view' href="{% url 'costcenter-charges' elem.costcenter status.fy status.period %}">Current charges</a>
            <a class="btn btn-edit" href="{% url 'costcenter-update' elem.id %}" ></a>
            <a class="btn btn-delete" href="{% url 'costcenter-delete' elem.pk %}" ></a >
        </div>
        {% endif %}
    </section>
    {% endfor %}

</main>

<script type="text/javascript" src="{% static 'js/filter-expender.js'%}" ></script>
{% endblock content %}