{% extends 'core/base.html' %}

{% block content %}
<main class="block block--centered">
    <section class="form">
        <form method="POST">
            {% csrf_token %}
            <header class='form__header'>Forecast Adjustment</header>
        {% for field in  form %}
        {{field.errors}}
        <div class='form__fields'>
            {{field.label_tag}}
            {{field}}
        </div>
        {% endfor %}
            <div class="block block--spaced">
                <button class="btn">Save</button>
                <button class="btn btn-back">Back</button>
            </div>
        </form>
        <footer class='form__footer'>Created on {{form.instance.created}}. Last edited by {{form.instance.owner}} on  {{form.instance.updated}}</footer>
    </section>
</main>
</body>
</html>

{% endblock content %}