{% extends 'core/base.html' %}
{% load static %}
{% block title %}Fund Form{% endblock title %}
{% block content %}
<main class="block block--centered">
    <h1 class="form__header">Fund Form</h1>
    <form method="POST">
        {% csrf_token %}
        <input type="text" id="fund_fund" name='fund' placeholder="Enter fund code">
        <input type="text" id="fund_name" name='name' placeholder="Enter fund name">
        <input type="text" id="fund_vote" name='vote' placeholder="Enter fund vote as a number">
        <button>save</button>
    </form>
{% endblock content %}