{% extends 'core/base.html' %}

{% block content %}
<main class="block">
            {% include 'costcenter/fundcenter-allocation-form-filter.html' %}
            <div>

                <header class='frame'>
                    <h2>Fund Centers Allocations</h2>
                </header>
                    {% for item in data %}
                    <section class='summary'>
                        <div class='summary__header'>
                            <span>{{item.fundcenter}}</span>
                            <span>{{item.fund}}</span>
                            <span>{{item.fy|stringformat:'s'}}</span>
                            <span>{{item.quarter}}</span>
                        </div>
                        <div class="summary__body">
                            <span>{{item.amount}}</span>
                            <span>{{item.note}}</span>
                        </div>
                        <div class="footnote">
                            <span></span>
                            <span>Created on {{item.created}}, Last updated by {{item.owner}} on {{item.updated}}</span>
                        </div>
                        {% if user.is_authenticated %}
                        <div class="summary__footer">
                            <a class="btn" href="{% url 'fundcenter-allocation-update' item.pk%}">Edit</a>
                            <a class="btn btn-delete" href="{% url 'fundcenter-allocation-delete' item.pk %}" >Delete</a >
                        </div>
                        {% endif %}
                    </section>
                    {% endfor %}
                    {% if user.is_authenticated %}
                    <div class="block block--centered">
                        <a class='btn'  href="{% url 'fundcenter-allocation-add' %}">Create Fund Center Allocation</a>
                    </div>
                    {% endif %}
            </div>
        </main>
    </body>
</html>

{% endblock content %}