<div class="form" id="filter-form">
    <form action="{% url 'fundcenter-allocation-table' %}" method="GET">
        <div class="form__header">Filter</div>
        <section class="form__fields_flex">
                <div class="form__field">
                    <label for="fundcenter" class="label">Fund Center</label>
                    {{form.fundcenter}}
                </div>
                
                <div class="form__field">
                    <label class="label" for="fund">Fund</label>
                    {{form.fund}}
                </div>
            
                <div class="form__field">
                    <label class="label" for="fy">FY</label>
                    {{form.fy}}
                </div>
                <div>
                    <label class="label" for="quarter">Quarter</label>
                    {{form.quarter}}
                </div>
            
        </section>

        <div class="block block--spaced">
            <button class="btn">submit</button>
        </div>
    </form>
</div>
