main {
    display: flex;
}

aside {
    margin-top: -240px;
    position: fixed;
    height: auto;
    z-index: 1000;
}

.lineitems {
    /* margin-left: 235px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lineitems .lineitem {
    padding: 0 1rem;
    /* min-width: 900px;  */
}
.lineitems .lineitem:nth-child(odd),
.zebra tr:nth-child(odd) {
    background-color: rgba(125, 125, 125, 0.2);
}
.lineitems .lineitem:nth-child(even),
.zebra tr:nth-child(even) {
    background-color: rgba(125, 125, 125, 0.1);
}
.lineitems .lineitem__header {
    color: #f3f3f3;
    background-color: #373538;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 992px) {
    .lineitem .lineitem__header {
        flex-direction: row;
    }
}
.lineitems .lineitem__part:nth-child(2) {
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
@media (min-width: 768px) {
    .lineitems .lineitem__part:nth-child(2) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.lineitems .lineitem__part:nth-child(3) {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.lineitems .lineitem__footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-top: 1px solid;
    border-bottom: 1px solid;
}
.lineitems .lineitem__nav {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 4px;
}
.lineitem__part > div:last-child,
.lineitem__footer > div:last-child {
    text-align: right;
}
.half {
    flex: 0 0 50%;
}

.third {
    flex: 0 0 33%;
}

.quarter {
    flex: 0 0 25%;
}

.padded {
    padding: 0 0.5rem;
}

.hint-warn {
    background-color: #f3f3f3;
    color: firebrick;
}

.hint-too-low {
    background-color: yellow;
    color: #000;
}
