.btn {
    font-family: inherit;
    font-size: 1.5rem;
    background-color: green;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #f3f3f3;
    border-radius: 4px;
    box-shadow: 0 3px 5px rgba(75, 85, 68, 0.8);
    padding: 0.5em 1em;
    min-width: 15ch;
    min-height: 24px;
    transition: 220ms all ease-in-out;
    line-height: 1.1rem;
    text-decoration: none;
    margin: 0.5rem;
}
.btn:hover,
.btn :active {
    opacity: 0.6;
    color: #f3f3f3;
}
.btn:focus {
    outline-style: solid;
    outline-color: transparent;
    box-shadow: 0 0 0 2px rgba(75, 85, 68, 0.8);
}
.btn:disabled,
.btn.btn-disabled {
    border: 1px solid #404040;
    background-color: #bfbfbf;
    color: #404040;
    cursor: not-allowed;
    opacity: 1;
}
.btn.btn-delete {
    background: url(../../images/icon-deletelink.svg) 5px 1px no-repeat;
    background-size: 2rem;
    min-width: fit-content;
    background-color: #404040;
}
.btn.btn-add {
    background: url(../../images/icon-addlink.svg) 5px 1px no-repeat;
    background-size: 2rem;
    min-width: fit-content;
    background-color: #404040;
}
.btn.btn-edit {
    background: url(../../images/icon-changelink.svg) 5px 1px no-repeat;
    background-size: 2rem;
    min-width: fit-content;
    background-color: #404040;
}
.btn.btn-view {
    background: url(../../images/icon-viewlink.svg) 5px 1px no-repeat;
    background-size: 2.4rem;
    min-width: fit-content;
    background-color: #404040;
    padding-left: 32px;
}
.btn.btn-back {
    background-color: #404040;
}
.btn.btn--link {
    background-color: inherit;
    border: none;
    box-shadow: 0 0 0 0px;
}
.btn.btn--link:hover {
    background-color: #373538;
    color: #f3f3f3;
    border: 1px solid;
    border: #f3f3f3;
    box-shadow: 0 3px 5px rgba(75, 85, 68, 0.8);
}
.btn.btn--link-small {
    margin: 0;
    padding: 0 8px;
    min-width: fit-content;
    min-height: 20px;
    font-size: 1.1rem;
}
.btn.btn--link-dark {
    background-color: inherit;
    color: #595142;
    border: none;
    box-shadow: 0 3px 5px rgba(75, 85, 68, 0.8);
}

@use "../base/colors" as *;
.form {
    background-color: #9495a5;
    border-left: 1px solid #4b5544;
    border-right: 1px solid #4b5544;
    border-radius: 8px;
    display: grid;
    justify-content: center;
    align-items: start;
    align-content: start;
    width: fit-content;
}
.form--collapsible {
    grid-template-columns: 1fr 0px;
    transition: all 0.3s ease-in-out;
}
.form section {
    padding: 4px;
}
.form__expender {
    width: 12px;
    background-color: #4b5544;
    height: 100%;
    position: relative;
    left: -5px;
    border-radius: 0 8px 8px 0;
}
.form__fields {
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    gap: 14px;
    padding: 2rem;
}

@media (max-width: 768px) {
    .form__fields {
        grid-template-columns: 1fr;
        gap: 4px;
    }
}
.form__fields > .right {
    grid-column: 1/-1;
    justify-content: end;
}
.form__fields-flex {
    display: grid;
    align-items: center;
    gap: 14px;
    padding: 2rem;
}
.form__fields-row {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 2rem;
}
.form__row {
    display: flex;
    gap: 8px;
}
.form__field {
    display: flex;
    flex-direction: column;
    flex: auto;
}
.form__header {
    border-radius: 8px 8px 0 0;
    background-color: #4b5544;
    color: #bfbfbf;
    text-align: center;
    font-size: 3rem;
    padding: 0 2rem;
}
.form__header--small {
    font-size: 1.5rem;
}
.form__footer {
    grid-column-start: 1/-1;
    background-color: #4b5544;
    color: #bfbfbf;
    text-align: center;
    font-size: 1rem;
    padding: 0 2rem;
    border-radius: 0px 0px 8px 8px;
}
.form__body {
    display: grid;
    padding: 0 2rem;
    align-content: start;
}
.form--two-col {
    grid-template-columns: auto auto;
    gap: 3rem;
}
.form--three-col {
    grid-template-columns: auto auto auto;
    gap: 3rem;
}

.select {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: #4b5544;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    justify-self: end;
}

.input,
.select {
    line-height: 1.1;
    background-color: #f3f3f3;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 2px solid #4b5544;
    font-family: inherit;
    transition: 180ms box-shadow ease-in-out;
}
.input:focus,
.select:focus {
    border-color: #4b5544;
    box-shadow: 0 0 0 2px rgba(75, 85, 68, 0.8);
    outline: 3px solid transparent;
}
.input:hover,
.select:hover {
    opacity: 0.8;
    box-shadow: 0 3px 5px rgba(75, 85, 68, 0.8);
    background-color: #bec6b8;
}

.label {
    font-weight: 300;
    display: block;
    font-size: 2rem;
    color: #4b5544;
}

/*Move to typography*/
select {
    appearance: none;
    font-size: 2rem;
    position: relative;
    border: none;
    margin: 0;
    width: 100%;
    cursor: pointer;
    z-index: 1;
    background-color: transparent;
    outline: none;
}

select,
.select:after {
    grid-area: select;
}

input,
select,
textarea {
    font-size: calc(max(16px, 2rem));
    font-weight: 400;
}

textarea {
    grid-column: 1/-1;
    resize: vertical;
}

.site-nav,
.action-bar {
    background-color: #a3b09c;
}

.summary {
    padding: 1rem 1rem 0 1rem;
    max-width: 1200px;
    min-width: 900px;
}
.summary__header {
    background-color: #373538;
    color: #fff;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    align-items: center;
}
.summary__body {
    background-color: #b49d80;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    column-gap: 3rem;
}
.summary__footer {
    display: flex;
    justify-content: space-around;
    background-color: #a3b09c;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 1rem;
}

.row {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;
}

.hint {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    gap: 1rem;
}
.hint-error {
    background-color: firebrick;
    color: #f3f3f3;
}
.hint-warning {
    background-color: #ff5722;
    color: #f3f3f3;
}
.hint-info {
    background-color: #2196f3;
    color: #f3f3f3;
}
.hint-success {
    background-color: #359e64;
    color: #f3f3f3;
}
.tag {
    padding: 0 6px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    margin: 5px;
}
.yes::before {
    content: "";
    background-image: url(../../images/icon-yes.svg);
    background-size: 23px;
    display: inline-block;
    background-color: #fff;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    text-align: center;
}
.no::before {
    content: "";
    background-image: url(../../images/icon-no.svg);
    background-size: 23px;
    display: inline-block;
    background-color: #fff;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    text-align: center;
}

.status {
    padding: 0.2rem 0.4rem;
}
.status--warning {
    color: #f3f3f3;
    background-color: firebrick;
}
.status--ok {
    color: #f3f3f3;
    background-color: #359e64;
}

.negative {
    color: red;
}

.errorlist {
    list-style-type: none;
    color: firebrick;
    margin-left: 2rem;
    margin-bottom: -33px;
}
.checkbox-label {
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    margin-top: 1em;
    cursor: pointer;
}

input[type="checkbox"] {
    display: grid;
    place-content: center;
    appearance: none;
    background-color: #f3f3f3;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.7em;
    height: 1.7em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em red;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1.4);
}

input[type="checkbox"] :focus {
    outline: calc(max(2px, 0.15em)) solid currentColor;
    outline-offset: calc(max(2px, 0.15em));
}

input[type="checkbox"]:disabled {
    color: #959495;
    cursor: not-allowed;
}

.checkbox--disabled {
    color: #959495;
    cursor: not-allowed;
}

.alert {
    display: flex;
    padding: 2rem;
    justify-content: space-around;
}
.alert--info {
    background-color: #2196f3;
    color: #f3f3f3;
}
.alert--success {
    background-color: #359e64;
    color: #f3f3f3;
}
.alert--warning {
    background-color: #ff5722;
    color: #f3f3f3;
}
.alert--error {
    background-color: firebrick;
    color: #f3f3f3;
}
