body {
    margin: 0;
}
.legend {
    font-size: 12px;
}
rect {
    stroke-width: 2;
}
.canvas {
    fill: lightsteelblue;
}
.markers {
    fill: yellow;
}
.piston {
    fill: pink;
}
.yaxis .domain {
    stroke: none;
}
.yaxis line {
    stroke: #def;
}
.charts {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}
#chart_estimates,
#chart_fearstatus,
#chart_outlook,
#chart_ye_ratios,
#chart_in_year {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.chart__title {
    font-size: 2rem;
}
