table.fin-structure {
    text-align: left;
}
td.center {
    text-align: center;
}
.fin-structure > tbody > tr {
    border-top: 1px solid;
}

.fc-odd {
    background-color: #a3b09c;
}
.fc-even {
    background-color: #899980;
}
.cc-odd {
    background-color: #f5f5dc;
}
.cc-even {
    background-color: #eaeab4;
}
#screeningreport {
    margin-top: 12px;
}

#screeningreport tr.level3,
#fundcenter-table tr.level3 {
    background-color: #909b86;
}
#screeningreport tr.level4,
#fundcenter-table tr.level4 {
    background-color: #a0a68f;
}
#screeningreport tr.level5,
#fundcenter-table tr.level5 {
    background-color: #adb39b;
}
#screeningreport tr.level6,
#fundcenter-table tr.level6 {
    background-color: #bdb682;
}
#screeningreport tr.level7,
#fundcenter-table tr.level7 {
    background-color: #b8bca2;
}
#screeningreport tr.level3 > td:first-child {
    padding-left: 2rem;
}
#screeningreport tr.level4 > td:first-child {
    padding-left: 4rem;
}
#screeningreport tr.level5 > td:first-child {
    padding-left: 5rem;
}
#screeningreport tr.level6 > td:first-child {
    padding-left: 6rem;
}
#screeningreport tr.level7 > td:first-child {
    padding-left: 8rem;
}
