table.fin-structure {
    text-align: left;
}

.fin-structure > tbody > tr {
    border-top: 1px solid;
}

.fc-odd {
    background-color: #a3b09c;
}
.fc-even {
    background-color: #899980;
}
.cc-odd {
    background-color: #f5f5dc;
}
.cc-even {
    background-color: #eaeab4;
}
