{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<div class="">

  <main class="block block--centered">
    <section class="form">
      <form action="#" method="POST">
        <header class='form__header'>Business Forecasting Tool </header>
          {% csrf_token %}
          <div class="form__fields">
            <label class='label' for="username">Nom d'utilisateur </label>
            <input class="input" type="text" name="username"autofocus='autofocus'/>
          </div>

          <div class="form__fields">
            <label class='label' for="password">Mot de passe: </label>
            <input class="input" id="formInput#password" type="password" name="password" placeholder="••••••••"/>
          </div>

          <div class="form__fields">
            <label class="label" id="show_password">Montrer le mot de passe </label>
            <input class="" type="checkbox" onclick="togglePassword()" />
          </div>
          <div class="columns c2">
            <input class="btn" type="submit" value="Log In" />
            <div class='columns'>
              <a class="" href="forgetpassword.html">Mot de passe oublié?</a>
              <a class="" href="{% url 'register' %}">Submit request for access</a>
              <a class="link" href="mailto:mario@mail.ca">Contactez le resonsable</a>
          </div>
            </div>
          </div>
        </form>
      </section>

    </main>

<script>
  function togglePassword() {
    var x = document.getElementById("formInput#password");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
</script>
  {% endblock content %}