{% extends 'core/base.html' %}

{% block  content %}
  <h1>BFT Home</h1>

  <section class="bft-nav">
    <div class="form">
      {% if user.is_authenticated %}
        <div class="form__header">Update Data</div>
      {% else %}
        <div class="form__header">View Data</div>
      {% endif %}
      <div class="form__body">
        <div class="form__header--title">Fundamentals</div>
        <a class='btn' href="{% url 'fund-table' %}">Funds</a>
        <a class='btn'  href="{% url 'source-table' %}">Sources</a>
        <a class='btn'  href="{% url 'costcenter-table' %}">Cost Centers</a>
        <a class='btn'  href="{% url 'fundcenter-table' %}">Fund Centers</a>
        <a class='btn'  href="{% url 'capital-project-table' %}">Capital Projects</a>
        <div class="form__header--title">Planning</div>
        <a class='btn'  href="{% url 'forecast-adjustment-table' %}">Forecast Adjustments</a>
        <a class='btn'  href="{% url 'costcenter-allocation-table' %}">Cost Centers Allocations</a>
        <a class='btn'  href="{% url 'fundcenter-allocation-table' %}">Fund Centers Allocations</a>
        <a class='btn'  href="{% url 'capital-forecasting-new-year-table' %}">Capital Forecasting New Year</a>
        <a class='btn'  href="{% url 'capital-forecasting-in-year-table' %}">Capital Forecasting In-Year</a>
        <a class='btn'  href="{% url 'capital-forecasting-year-end-table' %}">Capital Forecasting Year End</a>

        <div class="form__header--title">Monthly</div>
        <a class='btn'  href="{% url 'costcenter-monthly-allocation-update' %}">Cost Center Allocation</a>
        <a class='btn'  href="{% url 'costcenter-monthly-forecast-adjustment-update' %}">Cost Center Forecast Adjustment</a>
        <a class='btn'  href="{% url 'costcenter-monthly-forecast-line-item-update' %}">Cost Center Forecast Line Item</a>
        <a class='btn'  href="{% url 'costcenter-monthly-encumbrance-update' %}">Cost Center Encumbrance</a>
        <div class="form__header--title">Misc</div>
        <a class='btn' href="{% url 'bft-status' %}">BFT Status</a>
        <a class='btn'  href="{% url 'user-table' %}">Users</a>
            {% comment %} <a class='btn'  href="{% url 'line-forecast-table' %}">Line Item forecasts</a> {% endcomment %}
      </div>
    </div>
    {% if user.is_authenticated and perms.user.upload_data%}
      <div class="form">
        <div class="form__header">Upload Data</div>
        <div class="form__body">
          <div class="form__header--title">Fundamentals</div>
          <a class='btn'  href="{% url 'fund-upload' %}">Funds</a>
          <a class='btn'  href="{% url 'source-upload' %}">Sources</a>
          <a class='btn'  href="{% url 'costcenter-upload' %}">Cost Centers</a>
          <a class='btn'  href="{% url 'fundcenter-upload' %}">Fund Centers</a>
          <a class='btn'  href="{% url 'capital-project-upload' %}">Capital Projects</a>
          <div class="form__header--title">New Year</div>
          <a class='btn'  href="{% url 'capital-forecasting-new-year-upload' %}">Capital Forecasting New Year</a>
          <div class="form__header--title">In Year</div>
          <a class='btn'  href="{% url 'capital-forecasting-in-year-upload' %}">Capital Forecasting In Year</a>
          <a class='btn'  href="{% url 'cost-center-charges-upload' %}">Cost Center Charges</a>
          <a class='btn'  href="{% url 'costcenter-allocation-upload' %}">Cost Center Allocations</a>
          <a class='btn'  href="{% url 'costcenter-lineitem-upload' %}">Cost Center Line Items</a>
          <a class='btn'  href="{% url 'fundcenter-allocation-upload' %}">Fund Center Allocations</a>
          <a class='btn'  href="{% url 'fundcenter-lineitem-upload' %}">Fund Center Line Items</a>
          <div class="form__header--title">Year end</div>
          <a class='btn'  href="{% url 'capital-forecasting-year-end-upload' %}">Capital Forecasting Year End</a>
        </div>
      </div>
    {% endif %}
    {% if user.is_authenticated and perms.user.create_data%}
      <div class='form'>
        <div class="form__header"> Create Data </div>
        <div class="form__body">
          <div class="form__header--title">Fundamentals</div>
          {%if perms.costcenter.add_fund%}
            <a class='btn'  href="{% url 'fund-add' %}">Fund</a>
          {% endif %}

          {%if perms.costcenter.add_source%}
            <a class='btn'  href="{% url 'source-add' %}">Source</a>
          {% endif %}

          {%if perms.costcenter.add_costcenter%}
            <a class='btn'  href="{% url 'costcenter-add' %}">Cost Center</a>
            <a class='btn'  href="{% url 'capital-project-add' %}">Capital Project</a>
          {% endif %}
          {%if perms.costcenter.add_fundcenter%}
            <a class='btn'  href="{% url 'fundcenter-add' %}">Fund Center</a>
          {% endif %}
          <div class="form__header--title">Planning</div>

          {%if perms.costcenter.add_forecast_adjustment%}
            <a class='btn'  href="{% url 'forecast-adjustment-add' %}">Forecast Adjustment</a>
          {% endif %}
          {%if perms.costcenter.add_costcenter_allocation%}
            <a class='btn'  href="{% url 'costcenter-allocation-add' %}">Cost Center Allocation</a>
          {% endif %}
          {%if perms.costcenter.add_fundcenter_allocation%}
            <a class='btn'  href="{% url 'fundcenter-allocation-add' %}">Fund Center Allocation</a>
          {% endif %}
          {%if perms.user.add_user%}
            <div class="form__header--title">Users</div>
            <a class='btn'  href="{% url 'user-add' %}">BFT User</a>
          {% endif %}
        </div>
      </div>
    {% endif %}
    {% if user.is_authenticated %}
      <div class="form">
        <div class="form__header">Reports</div>
        <div class="form__body">
          <div class="form__header--title">Fundamentals</div>
          <a class='btn'  href="{% url 'financial-structure-report' %}">Financial Structure</a>
          <div class="form__header--title">NP</div>
          <div class="form__header--small">Monthly</div>
          <a class='btn'  href="{% url 'bmt-screening-report' %}">BMT Screening</a>
          <a class='btn'  href="{% url 'costcenter-monthly-allocation' %}">Cost Center Allocation</a>
          <a class='btn'  href="{% url 'costcenter-monthly-forecast-adjustment' %}">Cost Center Forecast Adjustment</a>
          <a class='btn'  href="{% url 'costcenter-monthly-forecast-line-item' %}">Cost Center Forecast LIne Items</a>
          <a class='btn'  href="{% url 'costcenter-monthly-encumbrance' %}">Cost Center Encumbrance</a>
          <a class='btn'  href="{% url 'costcenter-monthly-plan' %}">Cost Center Plan</a>

          <div class="form__header--small">In-Year</div>
          <a class='btn'  href="{% url 'costcenter-in-year-encumbrance' %}">Cost Center In Year Encumbrance</a>

          <div class="form__header--title">Capital</div>
          <a class='btn'  href="{% url 'capital-forecasting-estimates' %}">Forecasting Estimates</a>
          <a class='btn'  href="{% url 'capital-forecasting-ye-ratios' %}">Forecasting YE Ratios</a>
          <a class='btn'  href="{% url 'capital-historical-outlook' %}">Historical Outlook</a>
          <a class='btn'  href="{% url 'capital-forecasting-fears' %}">forecasting FEARS</a>
          <a class='btn'  href="{% url 'capital-forecasting-dashboard' %}">Forecasting Dashboard</a>
          <div class="form__header--title">Allocation</div>
          <a class='btn'  href="{% url 'allocation-status-report' %}">Allocation Status</a>
          <div class="form__header--title">Exports</div>
          <a class='btn'  href="{% url 'lineitem-report' %}">Line Items</a>
        </div>
      </div>
    {% endif %}
{% endblock  %}
</section>
