{% extends 'core/base.html' %}

{% block  content %}
<h1>BFT Home</h1>

<section class="columns c3">
    <div class='columns'>
        <div class="form">
        {% if user.is_authenticated %}
        <div class="form__header">Update Data</div>
        {% else %}
        <div class="form__header">View Data</div>
        {% endif %}
        <div class="form__body">
            <a class='btn' href="{% url 'fund-table' %}">Funds</a>
            <a class='btn'  href="{% url 'source-table' %}">Sources</a>
            <a class='btn'  href="{% url 'costcenter-table' %}">CostCenters</a>
            <a class='btn'  href="{% url 'fundcenter-table' %}">FundCenters</a>
            {% comment %} <a class='btn'  href="{% url 'forecast-adjustment-table' %}">Forecast Adjustments</a> {% endcomment %}
            {% comment %} <a class='btn'  href="{% url 'costcenter-allocation-table' %}">Allocations</a> {% endcomment %}
            {% comment %} <a class='btn'  href="{% url 'line-forecast-table' %}">Line Item forecasts</a> {% endcomment %}
        </div>
    </div>
    </div>
    {% if user.is_authenticated%}
    <div class="columns">
    <div class='form'>
        <div class="form__header"> Create Data </div>
        <div class="form__body">
            <a class='btn'  href="{% url 'fund-add' %}">Fund</a>
            <a class='btn'  href="{% url 'source-add' %}">Source</a>
            <a class='btn'  href="{% url 'costcenter-add' %}">Cost Center</a>
            <a class='btn'  href="{% url 'fundcenter-add' %}">Fund Center</a>
            {% comment %} <a class='btn'  href="{% url 'forecast-adjustment-add' %}">Forecast Adjustment</a> {% endcomment %}
            {% comment %} <a class='btn'  href="{% url 'add-costcenter-allocation' %}">Cost Center Allocation</a> {% endcomment %}
        </div> 
    </div>
    <div class="columns">
        <div class="form">
            <div class="form__header">Reports</div>
            <div class="form__body">
                {% comment %} <a class='btn'  href="{% url 'bmt-screening' %}">BMT Screening Report</a> {% endcomment %}
                {% comment %} <a class='btn'  href="{% url 'lineitem-report' %}">Line Items Report</a> {% endcomment %}
            </div>
        </div>
    </div>
</div>
        {% endif %}
    {% endblock  %}
</section>