{% extends 'core/base.html' %}

{% block  content %}
<h1>BFT Home</h1>

<section class="columns c4">
    <div class="form">
        {% if user.is_authenticated %}
        <div class="form__header">Update Data</div>
        {% else %}
        <div class="form__header">View Data</div>
        {% endif %}
        <div class="form__body">
            <a class='btn' href="{% url 'bft-status' %}">BFT Status</a>
            <a class='btn' href="{% url 'fund-table' %}">Funds</a>
            <a class='btn'  href="{% url 'source-table' %}">Sources</a>
            <a class='btn'  href="{% url 'costcenter-table' %}">CostCenters</a>
            <a class='btn'  href="{% url 'fundcenter-table' %}">FundCenters</a>
            <a class='btn'  href="{% url 'forecast-adjustment-table' %}">Forecast Adjustments</a>
            <a class='btn'  href="{% url 'costcenter-allocation-table' %}">Allocations - Cost Centers</a>
            <a class='btn'  href="{% url 'fundcenter-allocation-table' %}">Allocations - Fund Centers</a>
            <a class='btn'  href="{% url 'user-table' %}">Users</a>
            {% comment %} <a class='btn'  href="{% url 'line-forecast-table' %}">Line Item forecasts</a> {% endcomment %}
        </div>
    </div>
    {% if user.is_authenticated and perms.user.upload_data%}
        <div class="form">
            <div class="form__header">Upload Data</div>
            <div class="form__body">
                <a class='btn'  href="{% url 'fund-upload' %}">Funds</a>
                <a class='btn'  href="{% url 'source-upload' %}">Sources</a>
                <a class='btn'  href="{% url 'costcenter-upload' %}">Cost Centers</a>
                <a class='btn'  href="{% url 'fundcenter-upload' %}">Fund Centers</a>
                <a class='btn'  href="{% url 'capital-project-upload' %}">Capital Projects</a>
                <a class='btn'  href="{% url 'cost-center-charges-upload' %}">Cost Center Charges</a>
                <a class='btn'  href="{% url 'costcenter-allocation-upload' %}">Allocations - Cost Centers</a>
                <a class='btn'  href="{% url 'fundcenter-allocation-upload' %}">Allocations - Fund Centers</a>
                <a class='btn'  href="{% url 'fundcenter-lineitem-upload' %}">Fund Center Line Items</a>
                <a class='btn'  href="{% url 'costcenter-lineitem-upload' %}">Cost Center Line Items</a>
            </div>
        </div>
    {% endif %}
    {% if user.is_authenticated and perms.user.create_data%}
    <div class='form'>
        <div class="form__header"> Create Data </div>
        <div class="form__body">
            {%if perms.costcenter.add_fund%}
            <a class='btn'  href="{% url 'fund-add' %}">Fund</a>
            {% endif %}

            {%if perms.costcenter.add_source%}
                <a class='btn'  href="{% url 'source-add' %}">Source</a>
            {% endif %}

            {%if perms.costcenter.add_costcenter%}
            <a class='btn'  href="{% url 'costcenter-add' %}">Cost Center</a>
            {% endif %}
            {%if perms.costcenter.add_fundcenter%}
            <a class='btn'  href="{% url 'fundcenter-add' %}">Fund Center</a>
            {% endif %}
            {%if perms.costcenter.add_forecast_adjustment%}
            <a class='btn'  href="{% url 'forecast-adjustment-add' %}">Forecast Adjustment</a>
            {% endif %}
            {%if perms.costcenter.add_costcenter_allocation%}
            <a class='btn'  href="{% url 'costcenter-allocation-add' %}">Cost Center Allocation</a>
            {% endif %}
            {%if perms.costcenter.add_fundcenter_allocation%}
            <a class='btn'  href="{% url 'fundcenter-allocation-add' %}">Fund Center Allocation</a>
            {% endif %}
            {%if perms.user.add_user%}
            <a class='btn'  href="{% url 'user-add' %}">BFT User</a>
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% if user.is_authenticated %}
    <div class="form">
        <div class="form__header">Reports</div>
        <div class="form__body">
            <a class='btn'  href="{% url 'bmt-screening-report' %}">BMT Screening</a>
            <a class='btn'  href="{% url 'costcenter-monthly-data' %}">Current Cost Center Monthly</a>
            <a class='btn'  href="{% url 'allocation-status-report' %}">Allocation Status</a>
            <a class='btn'  href="{% url 'lineitem-report' %}">Line Items</a>
            <a class='btn'  href="{% url 'financial-structure-report' %}">Financial Structure</a>
        </div>
    </div>
    {% endif %}
    {% endblock  %}
</section>