{% extends 'core/base.html' %}
{% block title %}Capital Project Form{% endblock title %}
{% block content %}
  <main class="block block--centered">
    <section class="form">
      <form method="POST">
        <header class='form__header'>Capital Project</header>
        {% csrf_token %}
        {% include 'core/form-fields.html'%}
        <div class="block block--spaced">
          <button class="btn">Save</button>
          <button class="btn btn-back">Back</button>
        </div>
      </form>
    </section>
  </main>
  </body>
  </html>

{% endblock content %}
