{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock title %}
{% block content %}
  {% include "core/form-filter.html" %}
  <main class="block block--centered">
    {% include "core/paginator.html" %}
    <div class="container">
      <header class=''>
        <h2>{{title}}</h2>
      </header>
      {% if user.is_authenticated %}
        <div class=''>
          <div class="action-bar block">
            <a class='btn btn-add' href="{% url 'costcenter-add' %}"></a>
          </div>
        </div>
      {% endif %}
    </div>
    {% include 'paginator.html' %}
    <div class="container">
      {% for elem in page_obj  %}
        <section class='summary'>
          <div class='summary__header'>
            <span><strong>{{elem.costcenter}} </strong>- {{elem.shortname}} - {{elem.costcenter_parent}}</span>
            <span>{{elem.fund}}</span>
            <span>{{elem.source}}</span>
          </div>
          <div class="summary__body">
            {{elem.note|linebreaksbr}}
          </div>
          <div class="summary__footer">
            <span class="tag {% if elem.isforecastable %}yes"> {%else%} no"> Not{%endif%} Forecastable</span>
          <span class="tag {% if elem.isupdatable %} yes"> {%else%} no"> Not {%endif%} Updatable</span>
        <a class='btn btn-view' href="{% url 'lineitem-page'%}?costcenter={{elem.pk}}">Lines</a>
        <a class='btn btn-view' href="{% url 'costcenter-allocation-table'%}?costcenter={{elem.pk}}">Allocation</a>
        <a class='btn btn-view' href="{% url 'forecast-adjustment-table'%}?costcenter={{elem.pk}}">Forecast Adjustment</a>
        {% if status.fy and status.period %}
          <a class='btn btn-view' href="{% url 'costcenter-charges' elem.costcenter status.fy status.period %}">Current charges</a>
        {% endif %}
        {% if user.is_authenticated %}
          <a class="btn btn-edit" href="{% url 'costcenter-update' elem.id %}" ></a>
          <a class="btn btn-delete" href="{% url 'costcenter-delete' elem.pk %}" ></a >
        {% endif %}
        </div>
        </section>
      {% endfor %}
    </div>
  </main>

  <script type="text/javascript" src="{% static 'js/filter-expender.js'%}" ></script>
{% endblock content %}
