{% extends 'core/base.html' %}
{% load static %}
{% block title %}Cost Center Allocation Table{% endblock title %}
{% block content %}
{% include "core/form-filter.html" %}
<main class="block block--centered">
    <div>
        <header class='frame'>
            <h2>Cost Centers Allocations</h2>
        </header>
        {% if user.is_authenticated %}
        <div class="block">
            <div class="block action-bar">
                <a class='btn btn-add'  href="{% url 'costcenter-allocation-add' %}"></a>
            </div>
        </div>
        {% endif %}

        {% for item in filter.qs %}
        <section class='summary'>
            <div class='summary__header'>
                <span>{{item.costcenter}} [{{item.costcenter.costcenter_parent.fundcenter}}]</span>
                <span>{{item.fund}}</span>
                <span>{{item.fy|stringformat:'s'}}</span>
                <span>{{item.quarter}}</span>
            </div>
            <div class="summary__body">
                <span>{{item.amount}}</span>
                <span>{{item.note|linebreaksbr}}</span>
            </div>
            <div class="footnote">
                <span></span>
                <span>Created on {{item.created}}, Last updated by {{item.owner}} on {{item.updated}}</span>
            </div>
            {% if user.is_authenticated %}
            <div class="summary__footer">
                <a class="btn btn-edit" href="{% url 'costcenter-allocation-update' item.pk%}"></a>
                <a class="btn btn-delete" href="{% url 'costcenter-allocation-delete' item.pk %}" ></a >
            </div>
            {% endif %}
        </section>
        {% endfor %}

    </div>
</main>
<script type="text/javascript" src="{% static 'js/filter-expender.js'%}" ></script>

{% endblock content %}
