{% extends 'core/base.html' %}
{% block title %}{{title}}{% endblock title %}
{% load static %}
{% block content %}
  <main class="block block--centered">
{% include "core/paginator.html" %}

    <div class="container">
      <header class=''>
        <h2>{{title}}</h2>
      </header>
      {% if user.is_authenticated %}
        <div class=''>
          <div class="action-bar block">
            <a class='btn btn-add' href="{% url 'fund-add' %}"></a>
          </div>
        </div>
      {% endif %}
    </div>

    <table class='container' id='fund-table'>
      <thead>
        <tr>
          <th>Fund</th>
          <th>Name</th>
          <th>Vote</th>
          <th>Download</th>
          <th colspan=2></th>
        </tr>
      </thead>
      <tbody>
        {% for fund in page_obj %}
          <tr>
            <td>{{fund.fund}}</td><td>{{fund.name}}<td>{{fund.vote}}</td>
              <td class={% if fund.download %} "yes" {% else %} "no" {% endif %}></td>
              {% if user.is_authenticated %}
                <td>
                  <a class='btn btn-edit' href="{% url "fund-update" fund.id %}"></a>
                </td>
                <td>
                  <a class='btn btn-delete' href="{% url "fund-delete" fund.id %}"></a>
                </td>
              {% endif %}
            </tr>
        {% endfor %}

      </tbody>

    </table>
  </main>
  </body>
  </html>
{% endblock content %}
